asgiref==3.7.2
backports.zoneinfo==0.2.1
cffi==1.16.0
cryptography==41.0.7
Django==4.2.8
django-appconf==1.0.6
django-cryptography==1.1
djangorestframework==3.14.0
-e git+https://github.com/ankits16/ManagedStringTestProject.git@7f0305ac4aa7f8b660578b4cdb3b6927c31d8fd4#egg=lib_managed_string&subdirectory=main/lib_managed_string
pycparser==2.21
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.9.0
